* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing--moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  background: #151B22;
  color: #fff; }

.light-theme {
  background: #EFF1F3;
  color: #303030; }
  .light-theme .input-title {
    color: rgba(48, 48, 48, 0.3); }
  .light-theme input, .light-theme textarea {
    border-color: rgba(48, 48, 48, 0.25);
    color: #303030; }
    .light-theme input::-webkit-input-placeholder, .light-theme textarea::-webkit-input-placeholder {
      color: #303030; }
    .light-theme input::-moz-placeholder, .light-theme textarea::-moz-placeholder {
      color: #303030; }
    .light-theme input::-ms-input-placeholder, .light-theme textarea::-ms-input-placeholder {
      color: #303030; }
    .light-theme input::placeholder, .light-theme textarea::placeholder {
      color: #303030; }
  .light-theme .checkbox, .light-theme .links-grey {
    color: rgba(48, 48, 48, 0.8); }
  .light-theme .profile-information__box-window {
    background: #FFFFFF; }
  .light-theme .menu-mobile {
    background: #EFF1F3 url("../img/pattern3.png") right center no-repeat;
      background-size: contain; }
  .light-theme .menu li a {
    color: #303030; }
    .light-theme .menu li a .img-hover {
      display: none; }
    .light-theme .menu li a:hover .img-hover {
      display: block; }
    .light-theme .menu li a:hover .img-default {
      display: none; }
  .light-theme .menu li .active .img-hover {
    display: block; }
  .light-theme .menu li .active .img-default {
    display: none; }
  .light-theme .menu-icon {
    background: #FFFFFF; }
  .light-theme .links-edit {
    color: rgba(48, 48, 48, 0.5); }
  .light-theme .profile-information__box-window-item {
    color: rgba(48, 48, 48, 0.5); }
  .light-theme .tabs__caption-profile li {
    background: #FFFFFF;
    color: #303030; }
  .light-theme .tabs__content-profile {
    background: #fff; }
  .light-theme table {
    background: #fff;
    color: #303030; }
  .light-theme .btn-add {
    color: #303030; }
  .light-theme .tabs__caption-transactions li {
    color: rgba(48, 48, 48, 0.3); }
  .light-theme .tabs__caption-transactions li.active {
    color: #fff; }
  .light-theme table tbody tr {
    border-bottom-color: rgba(48, 48, 48, 0.15); }
  .light-theme table thead {
    border-bottom-color: rgba(48, 48, 48, 0.05); }
  .light-theme .about-box {
    background: #fff url("../img/pattern9.png") no-repeat right bottom;
      background-size: contain; }
  .light-theme .how-to-get__box, .light-theme .prosmining-box, .light-theme .prosmining-rate-box, .light-theme .transaction-reward__box {
    background: #fff; }
  .light-theme .prosmining {
    background: #EFF1F3 url("../img/pattern8.png") no-repeat right top;
      background-size: contain; }
  .light-theme .form-prosmining-box input {
    color: #303030; }
    .light-theme .form-prosmining-box input::-webkit-input-placeholder {
      color: #303030; }
    .light-theme .form-prosmining-box input::-moz-placeholder {
      color: #303030; }
    .light-theme .form-prosmining-box input::-ms-input-placeholder {
      color: #303030; }
    .light-theme .form-prosmining-box input::placeholder {
      color: #303030; }
  .light-theme .item-activity {
    color: #fff; }
  .light-theme .form-search input {
    background: rgba(239, 241, 243, 0.5);
    color: rgba(48, 48, 48, 0.5); }
    .light-theme .form-search input::-webkit-input-placeholder {
      color: rgba(48, 48, 48, 0.5); }
    .light-theme .form-search input::-moz-placeholder {
      color: rgba(48, 48, 48, 0.5); }
    .light-theme .form-search input::-ms-input-placeholder {
      color: rgba(48, 48, 48, 0.5); }
    .light-theme .form-search input::placeholder {
      color: rgba(48, 48, 48, 0.5); }
  .light-theme .form-settings .input-title {
    color: #303030; }
  .light-theme .clarification {
    color: rgba(48, 48, 48, 0.5); }
  .light-theme .form-settings .input-wrapper input {
    border: none;
    -webkit-box-shadow: inset 0px -1px 20px rgba(0, 0, 0, 0.07), inset 0px 1px 20px rgba(0, 0, 0, 0.07);
            box-shadow: inset 0px -1px 20px rgba(0, 0, 0, 0.07), inset 0px 1px 20px rgba(0, 0, 0, 0.07); }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

.w-100 {
  width: 100%; }

h1 {
  width: 100%;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin: 0 auto 35px; }

.subtitle-text {
  text-align: center;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  width: 100%; }

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1390px;
  padding: 0 15px; }

.home {
  padding: 100px 0 160px;
  position: relative;
  background: url("../img/pattern.png") no-repeat left center;
    background-size: contain; }

.main-wrapper {
  margin: 100px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.main-image {
  max-width: 634px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-content {
  width: calc(100% - 634px);
  padding: 0 120px 0 0; }

.tabs {
  width: 100%; }

.tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 567px;
  width: 100%;
  margin: 0 0 28px;
  position: relative;
  font-size: 24px;
  font-weight: bold; }
  .tabs__caption:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    border-radius: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#0EB879), to(#0FDF90));
    background: linear-gradient(180deg, #0EB879 0%, #0FDF90 100%);
    opacity: 0.2; }
  .tabs__caption li {
    padding: 0 0 33px;
    position: relative;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .tabs__caption li:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 10px;
      border-radius: 100px;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      background: -webkit-gradient(linear, left top, left bottom, from(#0EB879), to(#0FDF90));
      background: linear-gradient(180deg, #0EB879 0%, #0FDF90 100%); }
  .tabs__caption .active:before {
    width: 100%; }

.tabs__content {
  display: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.tabs__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.form {
  width: 100%; }
  .form .btn {
    margin: 50px 0 25px;
    max-width: 346px; }

input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 57px;
  background: transparent;
  padding: 0 25px;
  color: #fff; }

textarea {
  width: 100%;
  height: 163px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: transparent;
  padding: 20px 25px;
  color: #fff; }

input:disabled {
  border: none;
  color: #fff;
  background: #2932B5;
  opacity: 1; }
  input:disabled::-webkit-input-placeholder {
    color: #fff; }
  input:disabled::-moz-placeholder {
    color: #fff; }
  input:disabled::-ms-input-placeholder {
    color: #fff; }
  input:disabled::placeholder {
    color: #fff; }

label {
  display: block;
  max-width: 478px;
  width: 100%;
  margin: 0 0 25px; }
  label:last-child {
    margin: 0; }
  label .links-grey {
    margin: 15px 0 0; }

button {
  cursor: pointer;
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

.input-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  width: 100%;
  margin: 0 0 10px;
  display: block;
  text-align: left; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 100%;
  height: 68px;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bold;
  border: none; }

.btn-accent {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#0EB879), to(#0FDF90));
  background: linear-gradient(180deg, #0EB879 0%, #0FDF90 100%);
  -webkit-box-shadow: 0px 4px 30px rgba(15, 223, 144, 0.4);
          box-shadow: 0px 4px 30px rgba(15, 223, 144, 0.4); }
  .btn-accent:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#0FDF90), to(#0EB879));
    background: linear-gradient(180deg, #0FDF90 0%, #0EB879 100%); }

.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  line-height: 15px; }
  .checkbox .checkbox-inp {
    display: none; }
  .checkbox .checkbox-custom {
    position: relative;
    width: 24px;
    min-width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    border: none;
      border-radius: 3px;
    background: #2932B5;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0 12px 0 0; }
  .checkbox .label {
    display: inline-block;
    vertical-align: middle; }
  .checkbox .checkbox-inp:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 14px;
    height: 11px;
    background: url("../img/check.svg") no-repeat center;
      background-size: contain; }
  .checkbox .label {
    max-width: 278px; }

.form-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  opacity: .8; }
  .form-description a {
    margin: 0 0 0 5px; }

.links-accent {
  background: -webkit-gradient(linear, left top, left bottom, from(#0EB879), to(#0FDF90));
  background: linear-gradient(180deg, #0EB879 0%, #0FDF90 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

.links-grey {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px; }
  .links-grey:hover {
    color: #fff; }

.form-mnemonic {
  padding: 32px 0 0; }

.description-generation {
  margin: 0 0 30px; }
  .description-generation h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px; }
  .description-generation p {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lato', sans-serif; }

.form-reset {
  max-width: 378px;
  width: 100%; }
  .form-reset h3 {
    font-weight: bold;
    margin: 0 0 40px;
    font-size: 24px; }
  .form-reset label {
    margin: 0 0 15px; }

.page-thanks-form .btn {
  margin: 0; }

.page-thanks-form h3 {
  margin: 0 0 32px; }

.form-mnemonic-copy label {
  max-width: 265px; }

.form-mnemonic-copy input {
  text-align: center; }

.profile {
  padding: 70px 0 177px;
  background: url("../img/pattern2.png") no-repeat right center;
    background-size: contain; }
  .profile h1 {
    font-size: 36px;
    margin: 0 auto 25px; }
  .profile .container {
    max-width: 1200px; }

.profile-wrapper {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto; }

.logo {
  max-width: 123px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.profile-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 130px; }

.btn-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0EB879), to(#0FDF90));
  background: linear-gradient(180deg, #0EB879 0%, #0FDF90 100%);
  width: 79px;
  height: 79px;
  min-width: 79px;
  -webkit-box-shadow: 0px 4px 30px rgba(15, 223, 144, 0.4);
          box-shadow: 0px 4px 30px rgba(15, 223, 144, 0.4);
  padding: 12px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .btn-burger:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#0FDF90), to(#0EB879));
    background: linear-gradient(180deg, #0FDF90 0%, #0EB879 100%); }

.profile-information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.profile-information__box {
  max-width: 283px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0 0 75px; }
  .profile-information__box p {
    font-size: 18px; }

.profile-information__box-val {
  font-size: 24px;
  margin: 15px 0 25px; }
  .profile-information__box-val strong {
    font-weight: 900; }
  .profile-information__box-val span {
    display: block;
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: 900; }

.profile-information__box-window {
  width: 100%;
  height: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background: #19202A;
  border-radius: 3px; }

.profile-information__box-last .profile-information__box-window {
  height: 235px; }

.profile-information__box-window-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 33px;
  width: 100%; }
  .profile-information__box-window-item .icon {
    max-width: 33px;
    width: 100%;
    margin: 0 auto 25px; }

.slider-line {
  width: 100%;
  border-radius: 100px;
  height: 5px;
  position: relative;
  margin: 32px 0 0; }
  .slider-line:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    background: -webkit-gradient(linear, left top, left bottom, from(#0EB879), to(#0FDF90));
    background: linear-gradient(180deg, #0EB879 0%, #0FDF90 100%);
    border-radius: 100px; }

.slider-line-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0EB879), to(#0FDF90));
  background: linear-gradient(180deg, #0EB879 0%, #0FDF90 100%);
  width: 59px;
  border-radius: 100px;
  opacity: 1;
  z-index: 1; }

.tabs__caption-profile {
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 20px;
  font-weight: normal;
  max-width: none;
  margin: 0; }
  .tabs__caption-profile:before {
    height: 5px;
    border-radius: 0;
    opacity: .1; }
  .tabs__caption-profile li {
    background: #19202A;
    border-radius: 3px;
    opacity: .3;
    padding: 30px 138px;
    color: #fff; }
    .tabs__caption-profile li:before {
      height: 5px;
      border-radius: 0; }
  .tabs__caption-profile .active {
    opacity: 1; }

.form-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form-profile input {
    height: 76px; }
  .form-profile label {
    margin: 0 0 30px;
    max-width: 376px; }
  .form-profile .btn {
    margin: 35px auto 0 0;
    height: 76px;
    font-size: 24px;
    max-width: 376px; }

.tabs__content-profile {
  padding: 38px 100px 44px;
  background: #19202A;
  border-radius: 3px; }

.total-sum {
  width: 100%;
  font-size: 24px; }
  .total-sum strong {
    font-weight: bold; }

.form-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.description-generation-profile {
  text-align: center;
  width: 100%; }
  .description-generation-profile p {
    font-size: 24px;
    margin: 0 auto 21px; }
  .description-generation-profile strong {
    font-size: 28px;
    font-weight: 600; }
  .description-generation-profile .btn {
    height: 76px;
    margin: 42px auto 0;
    font-size: 24px;
    max-width: 376px; }

.menu-mobile {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 10;
  max-width: 584px;
  width: 100%;
  background: #19202A url("../img/pattern3.png") right center no-repeat;
    background-size: contain;
  height: 100%;
  overflow-y: auto;
  padding: 42px 55px 70px; }
  .menu-mobile .logo {
    max-width: 102px;
    width: 100%; }

.btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#0EB879), to(#0FDF90));
  background: linear-gradient(180deg, #0EB879 0%, #0FDF90 100%);
  width: 52px;
  height: 52px;
  -webkit-box-shadow: 0 4px 30px rgba(15, 223, 144, 0.4);
          box-shadow: 0 4px 30px rgba(15, 223, 144, 0.4);
  padding: 12px;
  cursor: pointer;
  border-radius: 50%; }

.menu-mobile__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 70px; }

.menu {
  width: 100%;
  margin: 0 0 54px; }
  .menu li {
    margin: 0 0 20px; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #fff;
      font-size: 27px;
      font-weight: 600; }
      .menu li a:hover .menu-icon {
        background: -webkit-gradient(linear, left top, left bottom, from(#0EB879), to(#0FDF90));
        background: linear-gradient(180deg, #0EB879 0%, #0FDF90 100%); }
    .menu li .active .menu-icon {
      background: -webkit-gradient(linear, left top, left bottom, from(#0EB879), to(#0FDF90));
      background: linear-gradient(180deg, #0EB879 0%, #0FDF90 100%); }

.menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 22px 0 0;
  width: 113px;
  height: 109px;
  min-width: 113px;
  background: #202732;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 3px; }

.links-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  color: rgba(255, 255, 255, 0.5); }

.links-edit-text {
  margin: 0 17px 0 0; }

.links-white {
  display: block;
  color: white;
  width: 100%; }

.modal__div {
  position: fixed;
  max-width: 516px;
  width: 100%;
  height: 100%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0; }
  .modal__div .modal__wrapper {
    width: 100%;
    height: auto;
    overflow: auto;
    margin: 50px auto;
    padding: 125px 90px 135px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    background: #141A21 url("../img/pattern4.png") no-repeat right bottom;
      background-size: contain;
    border-radius: 3px; }

.modal__div-max {
  max-width: 1070px; }
  .modal__div-max .modal__wrapper {
    padding: 127px 0 53px;
    background: #141A21 url("../img/pattern5.png") no-repeat right bottom;
      background-size: contain; }
  .modal__div-max .total-sum {
    text-align: left; }

.text-modal {
  font-size: 24px;
  font-family: 'Lato', sans-serif; }

.overlay {
  z-index: 100;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.modal-img {
  margin: 0 auto 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  max-width: 178px;
  width: 100%; }

.transactions .profile-top {
  margin: 0 0 84px; }
  .transactions .profile-top .container {
    max-width: 1200px; }

.btn-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 47px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .btn-add:hover {
    color: #0FDF90; }

.btn-add-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3.69231px;
  margin: 0 33px 0 0;
  -webkit-box-shadow: 0px 4px 30px rgba(15, 223, 144, 0.4);
          box-shadow: 0px 4px 30px rgba(15, 223, 144, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, from(#0EB879), to(#0FDF90));
  background: linear-gradient(180deg, #0EB879 0%, #0FDF90 100%);
  width: 60px;
  height: 60px;
  min-width: 60px; }

.tabs__caption-transactions {
  max-width: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-weight: normal;
  margin: 0; }
  .tabs__caption-transactions:before {
    display: none; }
  .tabs__caption-transactions li {
    padding: 36px 66px;
    border-radius: 3px;
    margin: 0 20px 0 0;
    background: rgba(41, 50, 181, 0.2);
    color: rgba(255, 255, 255, 0.3); }
    .tabs__caption-transactions li:before {
      display: none; }
    .tabs__caption-transactions li:last-child {
      margin: 0; }
  .tabs__caption-transactions .active {
    color: #fff;
    background: #2932B5;
    font-weight: 800; }

.tabs__content-transactions {
  padding: 68px 0 0;
  width: 100%; }

.table-responsive {
  width: 100%;
  overflow-x: auto; }

table {
  background: #19202A;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  font-family: 'Lato', sans-serif; }
  table thead {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  table th {
    padding: 35px 20px 35px 50px; }
    table th:last-child {
      padding-right: 50px; }
  table .icon-arrow {
    display: inline;
    margin: 0 0 0 25px; }
  table tbody {
    font-size: 20px;
    font-weight: 500; }
    table tbody tr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
      table tbody tr:last-child {
        border: none; }
  table td {
    padding: 15px 50px; }

.status-transaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 500; }
  .status-transaction p {
    max-width: 100px; }
  .status-transaction .icon-arrow {
    width: 31px;
    height: 28px;
    min-width: 31px; }

.about {
  background: url("../img/pattern.png") no-repeat left center;
    background-size: contain; }
  .about .container {
    max-width: 1200px; }
  .about .profile-top {
    margin: 0 0 73px; }

.about-box {
  padding: 43px 99px 75px;
  margin: 0 0 130px;
  width: 100%;
  background: #19202A url("../img/pattern6.png") no-repeat right bottom;
    background-size: contain;
  border-radius: 3px;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  line-height: 121.9%; }
  .about-box p {
    margin: 0 0 15px; }
    .about-box p:last-child {
      margin: 0; }

.how-to-get__wrapper .btn {
  margin: 0 auto;
  max-width: 346px;
  text-decoration: underline; }

h2 {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 36px;
  margin: 0 auto 70px; }

.how-to-get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.how-to-get__box {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #19202A;
  border-radius: 3px;
  margin: 0 0 85px;
  padding: 30px 20px 35px;
  font-family: 'Lato', sans-serif;
  font-size: 18px; }
  .how-to-get__box h3 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    width: 100%;
    margin: 0 auto 25px; }

.how-to-get__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 4px 30px rgba(41, 50, 181, 0.4);
          box-shadow: 0 4px 30px rgba(41, 50, 181, 0.4);
  background: #2932B5;
  padding: 13px;
  margin: 0 auto 40px; }

.prosmining {
  padding: 70px 0 119px;
  position: relative;
  background: #151B22 url("../img/pattern8.png") no-repeat right top;
    background-size: contain; }
  .prosmining:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 525px;
    height: 707px;
    background: url("../img/pattern7.png") no-repeat center;
      background-size: contain; }
  .prosmining .profile-top {
    margin: 0 0 117px; }

.prosmining-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.prosmining-box {
  margin: 0 0 70px;
  background: #19202A;
  border-radius: 3px;
  width: 49%; }
  .prosmining-box h3 {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 25px; }
  .prosmining-box strong {
    font-weight: bold; }
  .prosmining-box .box-text {
    font-size: 18px;
    font-family: 'Lato', sans-serif; }
    .prosmining-box .box-text p {
      margin: 0 0 20px; }

.prosmining-conditions__box {
  padding: 34px 18px 6px; }

.prosmining-box__top {
  padding: 34px 25px 27px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3px; }

.form-prosmining-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 30px 30px; }
  .form-prosmining-box label {
    margin: 0;
    max-width: 225px; }
  .form-prosmining-box input {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    height: 69px;
    font-family: 'Lato', sans-serif; }
    .form-prosmining-box input::-webkit-input-placeholder {
      color: #fff; }
    .form-prosmining-box input::-moz-placeholder {
      color: #fff; }
    .form-prosmining-box input::-ms-input-placeholder {
      color: #fff; }
    .form-prosmining-box input::placeholder {
      color: #fff; }
  .form-prosmining-box button {
    height: 69px;
    max-width: 270px;
    font-size: 24px; }

.list-conditions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  font-family: 'Lato', sans-serif; }
  .list-conditions li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 28px; }
    .list-conditions li p {
      max-width: 170px;
      width: 100%; }

.conditions-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 30px rgba(41, 50, 181, 0.3);
          box-shadow: 0 4px 30px rgba(41, 50, 181, 0.3);
  width: 61px;
  height: 61px;
  min-width: 61px;
  margin: 0 20px 0 0;
  background: #2932B5;
  padding: 12px; }

.prosmining-rates {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.prosmining-rate-box {
  width: 23.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 100px;
  background: #19202A;
  border-radius: 3px;
  padding: 34px 32px 39px;
  font-family: 'Lato', sans-serif;
  font-size: 18px; }
  .prosmining-rate-box .slider-line {
    margin: 0; }

.transaction-reward__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.transaction-reward__box {
  background: #19202A;
  border-radius: 3px;
  width: 49%;
  padding: 33px 32px 55px; }
  .transaction-reward__box .slider-line-bg {
    width: 141px; }

.transaction-reward__box-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 58px;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Lato', sans-serif; }

.transaction-reward__icon {
  margin: 0 25px 0 0;
  width: 44px;
  height: 44px;
  min-width: 44px; }

.validators .profile-top {
  margin: 0 0 62px; }

.reward-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 70px; }
  .reward-box p {
    margin: 0 0 35px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Lato', sans-serif; }
    .reward-box p strong {
      font-weight: 800; }
  .reward-box .btn {
    max-width: 376px;
    font-size: 24px;
    height: 76px;
    font-weight: 600; }

.validators-table-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.form-search {
  position: relative; }
  .form-search input {
    background: rgba(55, 64, 75, 0.3);
    border-radius: 3px;
    height: 50px;
    padding: 0 20px 0 89px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: rgba(255, 255, 255, 0.5); }
    .form-search input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .form-search input::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .form-search input::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .form-search input::placeholder {
      color: rgba(255, 255, 255, 0.5); }
  .form-search label {
    max-width: 351px;
    margin: 0; }
  .form-search button {
    background: transparent;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    left: 23px;
    width: 27px;
    height: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
      border-radius: 0; }

.table-validators thead {
  font-size: 20px;
  font-weight: 600; }

.table-validators th {
  padding: 35px 25px 15px; }
  .table-validators th:last-child {
    padding: 35px 25px 15px; }

.table-validators td {
  padding: 25px 25px 15px; }

.table-validators tbody {
  font-size: 18px;
  font-weight: 600; }

.item-activity {
  border-radius: 3px;
  padding: 7px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap; }

.bg-blue {
  background: #2932B5; }

.bg-orange {
  background: #FF8700; }

.form-settings {
  width: 100%; }
  .form-settings label {
    margin: 0 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: none; }
  .form-settings .input-title {
    width: 100%;
    max-width: 300px;
    padding: 0 5px 0 0;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    margin: 0; }
  .form-settings input {
    height: 77px;
    max-width: 478px;
    width: 100%; }
  .form-settings .form-group {
    margin: 50px 0 80px; }
  .form-settings .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .form-settings .input-wrapper input {
      -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
              box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
      background: #fff;
      max-width: 60px;
      margin: 0 13px 0 0;
      padding: 0 3px;
      text-align: center; }
      .form-settings .input-wrapper input:last-child {
        margin: 0; }
  .form-settings button.btn {
    max-width: 346px;
    height: 85px; }

.btn-active {
  height: 77px;
  max-width: 280px;
  width: 100%;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  font-weight: bold; }

.clarification {
  margin: 0 0 30px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5); }

.modal__div-light .modal__wrapper {
  background: #EFF1F3 url("../img/pattern4.png") no-repeat right bottom;
    background-size: contain;
  color: #303030; }

.modal__div-max-light .modal__wrapper {
  background: #EFF1F3 url("../img/pattern5.png") no-repeat right bottom;
    background-size: contain; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main-image {
    max-width: 400px; }
  .main-content {
    width: calc(100% - 400px);
    padding: 0 50px 0 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1150px) {
  .prosmining-box {
    width: 100%; }
  .list-conditions {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .list-conditions li {
      width: 33%; } }

@media only screen and (max-width: 1100px) {
  .tabs__caption-transactions li {
    padding: 20px 30px;
    font-size: 18px; }
  .btn-add {
    font-size: 16px; }
  table thead {
    font-size: 18px; }
  table th {
    padding: 20px 15px; }
    table th:last-child {
      padding: 20px 15px; }
  table td {
    padding: 15px; }
  table tbody {
    font-size: 16px; }
  .status-transaction {
    font-size: 16px; }
    .status-transaction .icon-arrow {
      width: 20px;
      height: 20px;
      min-width: 20px; }
  table .icon-arrow {
    margin: 0 0 0 10px; } }

@media only screen and (max-width: 992px) {
  .main-image {
    max-width: 250px; }
  .main-content {
    width: calc(100% - 250px);
    padding: 0 20px 0 0; }
  .home {
    padding: 50px 0 60px; }
  .main-wrapper {
    margin: 40px 0 0; }
  .tabs__caption {
    font-size: 18px; }
  .tabs__content-profile {
    padding: 30px; }
  .description-generation-profile p {
    font-size: 18px; }
  .description-generation-profile strong {
    font-size: 20px; }
  .description-generation-profile .btn {
    height: 60px;
    max-width: 280px;
    font-size: 18px; }
  .tabs__caption-profile li {
    padding: 20px 60px; }
  .profile-top {
    margin: 0 0 70px; }
  .profile h1 {
    font-size: 30px; }
  .profile {
    padding: 70px 0; }
  .profile-information__box-val {
    font-size: 18px; }
  .profile-information__box p, .profile-information__box-val span {
    font-size: 16px; }
  .profile-information__box {
    margin: 0 0 50px; }
  .profile-information {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .about-box {
    padding: 30px 40px;
    font-size: 16px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 920px) {
  .prosmining-rate-box {
    width: 49%;
    margin: 0 0 30px;
    font-size: 16px;
    padding: 30px 25px; }
  .prosmining-rates {
    margin: 0 0 40px; }
  .prosmining-box h3 {
    font-size: 20px; }
  .prosmining-box .box-text {
    font-size: 16px; }
  .list-conditions {
    font-size: 16px; }
  .form-prosmining-box {
    padding: 30px; }
    .form-prosmining-box input {
      height: 50px;
      font-size: 16px; }
    .form-prosmining-box button {
      height: 50px;
      font-size: 16px; }
  .prosmining .profile-top {
    margin: 0 0 70px; }
  .table-validators td {
    padding: 10px 15px; }
  .table-validators tbody {
    font-size: 16px; }
  .table-validators thead {
    font-size: 18px; }
  .table-validators th:last-child, .table-validators th {
    padding: 10px 15px; }
  .form-search input {
    font-size: 16px; }
  .reward-box {
    margin: 0 0 40px; }
    .reward-box p {
      font-size: 18px;
      margin: 0 0 20px; }
    .reward-box .btn {
      height: 60px;
      font-size: 16px; } }

@media only screen and (max-width: 768px) {
  .tabs__caption-transactions li {
    margin: 0 15px 10px 0; }
    .tabs__caption-transactions li:last-child {
      margin: 0 0 10px 0; }
  .btn-add-icon {
    width: 50px;
    height: 50px;
    min-width: 50px;
    padding: 7px;
    margin: 0 10px 0 0; }
  .tabs__content-transactions {
    padding: 40px 0 0; }
  .how-to-get__box {
    width: 48%;
    margin: 0 0 40px;
    font-size: 16px; }
    .how-to-get__box h3 {
      font-size: 18px;
      margin: 0 auto 20px; }
  .how-to-get {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  h2 {
    font-size: 28px;
    margin: 0 auto 30px; }
  .list-conditions li {
    width: 50%; }
  .transaction-reward__box {
    padding: 30px; }
  .transaction-reward__box-title {
    font-size: 20px;
    margin: 0 0 20px; }
  .transaction-reward__icon {
    margin: 0 20px 0 0;
    width: 40px;
    height: 40px;
    min-width: 40px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 670px) {
  h1 {
    font-size: 30px; }
  .subtitle-text {
    font-size: 18px; }
  .main-content {
    padding: 0;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 30px auto 0; }
  .main-image {
    margin: 0 auto; }
  .btn {
    font-size: 18px; }
  .form-description, .input-title {
    font-size: 16px; }
  .description-generation h3 {
    font-size: 18px; }
  .description-generation p {
    font-size: 16px; }
  .profile-information__box {
    width: 100%;
    max-width: none; }
  .logo {
    max-width: 80px; }
  .btn-burger {
    width: 60px;
    height: 60px;
    min-width: 60px; }
  .form-profile input {
    height: 50px; }
  .menu-mobile {
    padding: 20px; }
  .menu li a {
    font-size: 18px; }
  .menu-icon {
    width: 60px;
    height: 60px;
    min-width: 60px;
    padding: 10px; }
  .links-edit {
    font-size: 18px; }
  .form-profile label {
    max-width: none; }
  .btn-add {
    margin: 0 0 20px; }
  .form-settings .input-title {
    font-size: 16px;
    max-width: none;
    width: 100%;
    margin: 0 0 15px; }
  .form-settings label {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .form-settings .form-group {
    margin: 30px 0 40px; }
  .form-settings input {
    font-size: 16px;
    height: 60px;
    max-width: none; }
  .clarification {
    font-size: 16px; }
  .form-settings button.btn {
    height: 60px; }
  .btn-active {
    height: 60px; } }

@media only screen and (max-width: 575px) {
  .how-to-get__box {
    width: 100%; }
  .about-box {
    margin: 0 0 60px; }
  .transaction-reward__box {
    width: 505px;
    margin: 0 0 40px; }
    .transaction-reward__box:last-child {
      margin: 0; }
  .form-prosmining-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .form-prosmining-box label {
      margin: 0 0 20px;
      max-width: none; }
  .list-conditions li {
    width: 100%; }
    .list-conditions li p {
      max-width: none; }
  .prosmining-rate-box {
    width: 100%; }
  h2 {
    font-size: 24px; } }

@media only screen and (max-width: 480px) {
  .description-generation-profile strong {
    font-size: 14px; }
  .profile h1 {
    font-size: 26px; }
  .subtitle-text {
    font-size: 14px; }
  .modal__div .modal__wrapper {
    padding: 30px; }
  .text-modal {
    font-size: 18px; }
  .modal-img {
    margin: 0 auto 20px; }
  .total-sum {
    font-size: 16px; }
  .form-profile .btn, .description-generation-profile .btn {
    font-size: 16px;
    height: 50px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .tabs__caption {
    font-size: 16px;
    margin: 0 0 20px; }
    .tabs__caption:before {
      height: 5px; }
    .tabs__caption li {
      padding: 0 0 20px; }
      .tabs__caption li:before {
        height: 5px; }
  .tabs__caption-transactions li {
    padding: 20px 30px;
    width: 100%;
    margin: 0 0 10px; }
  .tabs__caption-profile li {
    padding: 15px 20px; } }
