@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .main-image
    max-width: 400px

  .main-content
    width: calc(100% - 400px)
    padding: 0 50px 0 0


/* Medium Devices, Desktops */
@media only screen and (max-width : 1100px)
  .tabs__caption-transactions li
    padding: 20px 30px
    font-size: 18px

  .btn-add
    font-size: 16px

@media only screen and (max-width : 992px)
  .main-image
    max-width: 250px

  .main-content
    width: calc(100% - 250px)
    padding: 0 20px 0 0

  .home
    padding: 50px 0 60px

  .main-wrapper
    margin: 40px 0 0

  .tabs__caption
    font-size: 18px

  .tabs__content-profile
    padding: 30px

  .description-generation-profile p
    font-size: 18px

  .description-generation-profile strong
    font-size: 20px

  .description-generation-profile .btn
    height: 60px
    max-width: 280px
    font-size: 18px

  .tabs__caption-profile li
    padding: 20px 60px

  .profile-top
    margin: 0 0 70px

  .profile h1
    font-size: 30px

  .profile
    padding: 70px 0

  .profile-information__box-val
    font-size: 18px

  .profile-information__box p, .profile-information__box-val span
    font-size: 16px

  .profile-information__box
    margin: 0 0 50px

  .profile-information
    justify-content: space-around


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .tabs__caption-transactions li
    margin: 0 15px 10px 0
    &:last-child
      margin: 0 0 10px 0

  .btn-add-icon
    width: 50px
    height: 50px
    min-width: 50px
    padding: 7px
    margin: 0 10px 0 0

  .tabs__content-transactions
    padding: 40px 0 0


/* Extra Small Devices, Phones */
@media only screen and (max-width : 670px)
  h1
    font-size: 30px

  .subtitle-text
    font-size: 18px

  .main-content
    padding: 0
    width: 100%
    order: 1
    margin: 30px auto 0

  .main-image
    margin: 0 auto

  .btn
    font-size: 18px

  .form-description, .input-title
    font-size: 16px

  .description-generation
    h3
      font-size: 18px
    p
      font-size: 16px

  .profile-information__box
    width: 100%
    max-width: none

  .logo
    max-width: 80px

  .btn-burger
    width: 60px
    height: 60px
    min-width: 60px

  .form-profile input
    height: 50px

  .menu-mobile
    padding: 20px

  .menu li a
    font-size: 18px

  .menu-icon
    width: 60px
    height: 60px
    min-width: 60px
    padding: 10px

  .links-edit
    font-size: 18px

  .form-profile label
    max-width: none

@media only screen and (max-width : 480px)
  .description-generation-profile strong
    font-size: 14px

  .profile h1
    font-size: 26px

  .subtitle-text
    font-size: 14px

  .modal__div .modal__wrapper
    padding: 30px


  .text-modal
    font-size: 18px

  .modal-img
    margin: 0 auto 20px

  .total-sum
    font-size: 16px

  .form-profile .btn, .description-generation-profile .btn
    font-size: 16px
    height: 50px


/* Custom, iPhone Retina */
@media only screen and (max-width : 420px)
  .tabs__caption
    font-size: 16px
    margin: 0 0 20px
    &:before
      height: 5px
    li
      padding: 0 0 20px
      &:before
        height: 5px

  .tabs__caption-transactions li
    padding: 20px 30px
    width: 100%
    margin: 0 0 10px

  .tabs__caption-profile li
    padding: 15px 20px